<mat-card>
    <mat-card-content>
        <p>Hello New User, It seems like you are not registered with any of our partners.</p>
        <p>Nothing to worry. :)</p>
        <p>If you want a new class to set up, send a Whatsapp to 8983026126.</p>
        <p>If you are already registered, contact your admin and send him this token.</p>
    </mat-card-content>
    <mat-card-actions>
        <a mat-button color="primary" href="https://wa.me/whatsappphonenumber?text=Hello%2C%20I%20am%20intrested%20in%20you%20app%2C%20please%20activate%20my%20account%20with%20code%201232343">I want to send token</a>
        <a mat-button href="https://wa.me/whatsappphonenumber/918983026126?text=Hello%2C%20I%20am%20intrested%20in%20you%20app%2C%20please%20activate%20my%20account%20with%20code%201232343">I want to register my class</a>
    </mat-card-actions>
</mat-card>