<mat-toolbar color="primary">
  <span>Park Book</span>
  <span class="spacer"></span>
  <div *ngIf="isLoggedIn">
    <button (click)="logout()" mat-icon-button aria-label="log in">
      <mat-icon>link_off</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div class="main-body">
  <div class="full-screen" *ngIf="isAuthOnGoing">
    <mat-progress-spinner mode="indeterminate" style="margin-left: 37px;"></mat-progress-spinner>
    <p class="center">Checking Authentication.</p>
    <p class="center">Please Wait.</p>
  </div>
  <router-outlet></router-outlet>
</div>